<div class="loading">
    <div class="loader"></div>
</div>

<table class="col-5 mt-5 table table-hover" style="margin-left: 10rem !important;">

    <thead>
    <tr class="table-borderless h5">
        <th scope="col">Diagram</th>
    </tr>
    </thead>

    <tbody class="table-body mb-5 font-weight-bold text-success"></tbody>

</table>
<div class="col">

    <img id="icon" src="assets/img/diagramlijst1.png" class="diagramLijstIcon" onmouseover="changeImage()">

    <div class="centered">
        <img id="wolk" src="assets/img/wolk.png" alt="Snow" class="wolk">
        <div id="typedtext" class="typewritertext"></div>
    </div>

</div>

<script>

    // set up text to print, each item in array is new line
    var aText = ["Klik op de diagram", "die je wilt verwijderen"];
    var iSpeed = 30; // time delay of print out
    var iIndex = 0; // start printing array at this position
    var iArrLength = aText[0].length; // the length of the text array
    var iScrollAt = 20; // start scrolling up at this many lines

    var iTextPos = 0; // initialise text position
    var sContents = ''; // initialise contents variable
    var iRow; // initialise current row

    function typewriter() {

        sContents =  ' ';
        iRow = Math.max(0, iIndex-iScrollAt);
        var destination = document.getElementById("typedtext");

        while ( iRow < iIndex ) {
            sContents += aText[iRow++] + '<br />';
        }
        destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
        if ( iTextPos++ == iArrLength ) {
            iTextPos = 0;
            iIndex++;
            if ( iIndex != aText.length ) {
                iArrLength = aText[iIndex].length;
                setTimeout("typewriter()", 50);
            }
        } else {
            setTimeout("typewriter()", iSpeed);
        }
    }

    typewriter();
</script>
