<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Team 10</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-controller="welcome">Welkompagina
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-controller="shop">Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-controller="myClasses">Mijn klassen
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-controller="createDiagram">Create
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-controller="deleteDiagram">Delete
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-controller="diagramList" href="#">Diagrammenlijst</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-controller="logout" href="#">Uitloggen</a>
                </li>
                <li class="nav-item" id="balance">
                    <a class="nav-link">
                        <i class="fas fa-coins fa-lg" style="color: #edff8f"></i>
                        <span id="point" class="pl-2"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
